@font-face {
    font-family: "Dina";
    src: url("/assets/fonts/dina10px.ttf");
}

body{
    margin: 0;
    background: url(/assets/img/blackmarket.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    font-family: "Dina", "tahoma"; 
}

a {
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
    opacity: 0.5;
}

footer {
    bottom: 0;
    position: fixed; 
    margin: 0 auto; margin-left: auto; margin-right: auto;
}

.heading {
    position: absolute;
    width: 100%;
    text-align: center; 
}
.heading h1 {
    font-size: 60px;
}
.heading h3 {
    font-size: 30px;
}

.aligned-list{
    text-align: left;
    display: inline-block;
}

#particles-js {
    background-color: rgba(0, 0, 0, 0.744);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%; 

}

#dot{
    color: rgba(0, 255, 47, 0.703);
}

@keyframes blink {
    0% { opacity: 1; }
    49% { opacity: 1; }
    50% { opacity: 0; }
   100% { opacity: 0; }
  }

#blink{
    color: white;
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}