@font-face {
    font-family: "Dina";
    src: url("/assets/fonts/dina10px.ttf");
}

body{
    margin: 0;
    background: url(/assets/img/blackmarket.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    color: white;
    font-family: "Dina", "tahoma"; 
}

#bottom{
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    font-size: 13px;
}

p{
    font-size: 20px;
}

.heading {
    position: absolute;
    width: 100%;
    top: 20%;
    text-align: center; 
}
.heading h1 {
    font-size: 60px;
}
.heading h3 {
    font-size: 30px;
}

.aligned-list{
    text-align: left;
    display: inline-block;
}

#particles-js {
    background-color: rgba(0, 0, 0, 0.744);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh; 
    overflow: hidden;
}

#dot{
    color: rgba(255, 255, 255, 0.384);
}

@keyframes blink {
    0% { opacity: 1; }
    49% { opacity: 1; }
    50% { opacity: 0; }
   100% { opacity: 0; }
  }

#blink{
    color: white;
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.646);
}

a:hover{
    text-decoration: underline;
    opacity: 0.5;

}